.wide {
  width: 100%;
}
.maxSiteWidth {
  max-width: 1024px;
}

a {
  text-decoration: none;
}
/* style css */
html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.headerWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
}
.header{
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.nav1{
    display: table;
    table-layout: fixed;
    margin: 40px 0 auto;
    
}
.row1{
    margin: 0 12em 0  auto;
}
.row2{
    margin: 0 10px 0  auto;
    display: table-cell;
    vertical-align: middle;
}

.nav2{
    display: table;
    vertical-align: middle;
    margin: 20px 0 auto;
}

.logoWrapper,
.navSearch,
.contactNR,
.nr2,
.buy{
    display: table-cell;
    margin: 0 10px 0 auto;
    table-layout: fixed;
}


  .navMenuWrapper{
    display: table-cell;
    vertical-align: middle;
  }
  .nav3{
    display: table;
    margin: 0 10px 0 auto;
    table-layout: fixed;
  }
  .nav3 > li{
    display: table-cell;
    vertical-align: middle;
  }
  .nav3 > li > a{
    display: block;
    padding: 15px;
    text-align: center;
    color: #000;
  }

  .productWrapper{
    display: table;
    table-layout: fixed;
  }
  .productImage,
  .detailsProduct{
    display: table-cell;
    vertical-align: middle;
    padding: 30px;
  }
 
  .carouselWrapper{
    position: relative;
    text-align: center;
  }
  .carouselItems{
    padding: 35px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
  }
  .box{
    padding: 35px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 35px;
  }

