body, html {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif, Arial;
}
a {
  text-decoration: none !important;
}
.wide {
  width: 100%;
}
.maxSiteWidth {
  max-width: 1024px;
}

a {
  text-decoration: none;
}
/* style css */
html,
body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.headerWrapper{
    position: relative;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    background:#A43933;
    color: #fff !important;
    margin: 0;
}
.header{
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.headerRow1{
    display: table;
    width: 100%;
    position: relative;
}
.breadcrumb{
    display: table-cell;
}
.loginWrapper{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.headerRow2{
    display: table;
    vertical-align: middle;
    margin: 0;
    width: 100%;
}

.logoWrapper,
.navSearch,
.headerContact,
.headerCart {
    display: table-cell;
    vertical-align: middle;
}
.navSearch {
  vertical-align: middle; 
}
.contactPhoneIcon,
.phones1,
.phones2 {
  display: inline-block;
  vertical-align: middle;
}

  .navMenuWrapper{
    display: block;
    background: #BD5049;
  }
  .nav3{
    display: table;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .productCategoriesNavWrapper {
    background: #000;
  }
  .nav3 > li{
    display: table-cell;
    vertical-align: middle;
  }
  .nav3 > li > a{
    display: block;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    position: relative;
  }

  .productWrapper{
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }
  .productImage,
  .detailsProduct {
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  .productImage {
    width: 460px;
    padding: 20px;
  }
  .productImage img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
  }
  .detailsProduct {
    padding: 30px;
  }

  .productDiscount{
    display: table;
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 0 20px 0;
  }
  .productDiscountImg,
  .productText,
  .productButton{
    display: table-cell;
    position: relative;
  }

  .carouselWrapper{
   display: table;
   width: 100%;
   max-width: 1024px;
   position: relative;
   margin: 0 auto;
  }

.carouselInnerOne,
.carouselInnerTwo,
.carouselInnerThree,
.carouselInnerFour{
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

.carouselIcon,
.carouselDetails {
    display: inline-block;
    vertical-align: middle;   
}

.blankSpace{
  position: relative;
  width: 100%;
  background-color: #000;
  margin: 0 auto;
  max-width: 1024px;
  padding: 10px 0;
  margin-top: 20px;
}
.tableInfo{
  display: table;
  position: relative;
  max-width: 1024px;
  width: 100%;
  vertical-align: middle;
  margin:0 auto;
  padding: 20px 0 0 20px;
}
.tableInfoProduct{
display: table-cell;
}

.title{
  font-size: 24px;
  font-weight: bold;
}
.listSpecifications,
.listDetails{
  display: table-cell;
  position: relative;
  vertical-align: middle;
 padding: 10px 0;
}

.boxInfoOne li p,
.boxInfoTwo li p{
  display: inline-block;
  width: 100%;
  padding: 20px;
  font-size: 15px;
}

#detailsInfo{
  width: 100%;
  margin-top: 10px;
}
#detailsInfo td {
  padding: 15px;
}

#detailsInfo tr:nth-child(even){background-color: #f2f2f2;}
#detailsInfo tr:hover(even){background-color: #ddd;}



